@{
    ViewData["Title"] = "Home Page";
}
 
<div ui-view>
</div>

<script src="~/lib/angular/angular.min.js"></script>
<script src="~/lib/angular/angular-ui-router.min.js"></script>
<script src="~/lib/angular/ct-ui-router-extras.js"></script>
<script src="~/lib/angular/app.js"></script>