<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogFile="${basedir}\logs\nlog-internal.log">

  <targets>
    <target name="file" xsi:type="File"
            archiveEvery="Hour"
          archiveNumbering="Date"
          archiveDateFormat="yyyyMMddHH"
          maxArchiveFiles="48"
          concurrentWrites="true"
            fileName="${basedir}\logs\log-${date:format=yyyy-MM-dd-HH}.txt"
            layout="${longdate} | ${level} | ${logger} | ${message} ${exception}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
    <logger name="*" minlevel="Error" writeTo="file" />
  </rules>
</nlog>
