 
    <table class="table table-condensed table-responsive" med-key>
        
            <tr class="filterRow hidden-xs headerRow">
                <th colspan="2">
                   
                        <input type="text" class="form-control" placeholder="Find by code" ng-model="search.Code" />
                   
                  
                    
                    
               </th>
                <!--<th>
                    <input type="button" value="Find" class="btn btn-primary" ng-click="Find();" />
                </th>-->
               
            </tr>
            <!--<tr class="headerRow">

                <th colspan="3">Party</th>

            </tr>-->
        
        
            <tr ng-repeat="a in Accounts  |filter: search:strict" ng-click="GetRates(a.LedgerId);">
                <td colspan="2">{{a.Code + ' '  + a.Name}}</td>
            </tr>
            <!--<tr ng-repeat="a in Accounts |filter: search:strict" ng-click="GetRates(a.LedgerId);" >
                <td colspan="2">{{a.Code + ' '  + a.Name}}</td>
            </tr>-->
        
    </table>

    <!--


        <div class="col-sm-3">
            <label>Choose Party</label>
            <searchableselect name="client" tabindex="2" data-field="Accounts" ng-model="Filter.LedgerId"
                              data-val="LedgerId" data-text="Name"
                              description-field="Code"></searchableselect>
        </div>


        <div class="col-sm-3">
            <label>&nbsp;</label>
            <div>
                <input type="button" class="btn btn-primary" tabindex="3" value="Get Rates" ng-click="GetRates();" />
            </div>
        </div>
    -->

 