<div>
         <div class="col-sm-12">
            <div class="form-group">
        <div class="row">
            <!-- Main Title (hidden on small devices for the statistics to fit) -->
            {{message}}
            <!-- END Main Title -->

            <!-- Top Stats -->
            <div class="col-md-8 col-lg-6">
            </div>
            <!-- END Top Stats -->
        </div>
        <table class="table table-condensed table-responsive" med-key>
            <tr>
                <th>Account Group</th>
                <th>Actions</th>


            </tr>
            <tr ng-repeat="item in AccGroups">
                <td>{{item.Name}}
                   
                </td>

                <td>
                    <a href="#addaccgroup?gId={{item.AccountGroupId}}" ng-show="{{item.Editable}}==true"><span class="fa fa-edit text-primary"></span></a>&nbsp;&nbsp;
                   <a ng-show="{{item.Status}}==1" ng-click="Activate(2,item.CategoryId);"><span class="fa fa-trash text-danger"></span></a>
                    <a ng-show="{{item.Status}}==2" ng-click="Activate(1,item.CategoryId);"><span class="fa fa-check text-primary"></span></a>
                </td>
            </tr>
    </table></div></div>
    <!-- For best results use an image with a resolution of 2560x248 pixels (You can also use a blurred image with ratio 10:1 - eg: 1000x100 pixels - it will adjust and look great!) -->

</div>
