<div class="form-group">
    <div class="col-lg-12">
        <h3>Salt</h3>
    </div>
    <form id="form-salt" name="form-salt" method="post" class="form-horizontal form-bordered">
        <!-- Form Horizontal Start -->
        <div class="col-sm-12">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Salt</label>
                                <input type="text" id="val_saltName" name="val_saltName" ng-model="Salt.Props.Name" class="form-control" />
                            </div>
                            <div class="col-sm-6">
                                <label>Indications</label>
                                <input type="text" id="Text2" ng-model="Salt.Props.Indications" class="form-control" />
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Dosage</label>
                                <input type="text" id="Text3" ng-model="Salt.Props.Dosage" class="form-control" />
                            </div>
                            <div class="col-sm-6">
                                <label>Side Effects</label>
                                <input type="tel" id="Tel1" ng-model="Salt.Props.SideEffects" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Precaustions</label>
                                <input type="text" ng-model="Salt.Props.Precautions" class="form-control" />
                            </div>
                            <div class="col-sm-6">
                                <label>DrugInstructions</label>
                                <input type="text" ng-model="Salt.Props.DrugInstructions" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Note</label>
                                <input type="text" ng-model="Salt.Props.Note" class="form-control" />

                            </div>
                            <div class="col-sm-6">
                                <label>Narcotic</label>
                                <div class="row col-sm-12">
                                    <label class="radio-inline">
                                        <input type="radio" name="optNarcotic" ng-model="Salt.Props.Narcotic" ng-value="true" />Yes</label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optNarcotic" ng-model="Salt.Props.Narcotic" ng-value="false" />No</label>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>SCH -H</label>
                                <div class="row col-sm-12">
                                    <label class="radio-inline">
                                        <input type="radio" name="optSCH" ng-model="Salt.Props.SCH_H" ng-value="true" />Yes</label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optSCH" ng-model="Salt.Props.SCH_H" ng-value="false" />No</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label>SCH -H1</label>
                                <div class="row col-sm-12">
                                    <label class="radio-inline">
                                        <input type="radio" name="optSCH1" ng-model="Salt.Props.SCH_H1" ng-value="true" />Yes</label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optSCH1" ng-model="Salt.Props.SCH_H1" ng-value="false"/>No</label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-6">
                    </div>
                </div>
            </div>

        </div>
        <!-- End -->
    </form>












</div>
