<!--  <pageheader heading="Bill register" />-->
    <div class="col-sm-2">
        <label>Choose Party</label>

        <searchabletext ng-id="client_value" local-data="Accounts" title-field="Name" name="Name" search-fields="Name,Code"
                        selected-object="selectedParty" data-entry="1" tab-index="8" initial-value="initialValue"> </searchabletext>
        <!--<searchableselect name="client" tabindex="2" data-field="Accounts" ng-model="Filter.LedgerId" data-val="LedgerId" data-text="Name" description-field="Code"></searchableselect>-->

    </div>
<!--<div class="col-sm-3">
    <label>Site</label>
    <searchableselect id="Searchableselect1" ng-model="Filter.LedgerSiteId" data-field="LedgerSites" tab-index="1" data-val="LedgerSiteId"
                      data-text="SiteAddress"></searchableselect>

</div>-->
<div class="col-sm-2">
    <label>Bank</label>
    <searchableselect name="val_bank" on-loaded="bankLoaded();" tabindex="2" data-field="Banks" ng-model="Filter.BankId" data-val="LedgerId" data-text="Name"></searchableselect>
    <!--<searchabletext ng-id="bank" search-fields="Name" data-item="Banks" tab-index="2" data-all="true"  local-data="Banks" name="Name" field-required="true"> </searchabletext>-->
</div>
<div class="col-sm-2">

    <label>Entry</label>
    <!--<searchabletext ng-id="entry" search-fields="Name" data-item="EntryTypes" tab-index="2" data-all="true"  local-data="EntryTypes" name="Name" field-required="true"> </searchabletext>-->
    <searchableselect name="val_entry" tabindex="3" data-field="EntryTypes" ng-model="Filter.EntryType" data-val="EntryTypeId" data-text="Name"></searchableselect>

</div>

<div class="col-sm-1 nopadding text-center">

    <label>From</label>

    <datepicker date-format="dd/MM/yyyy">
        <input ng-model="Filter.From" type="text" tabindex="2" class="form-control" />
    </datepicker>
</div>
<div class="col-sm-1 nopadding text-center" style="padding-left: 3px !important;">

    <label>To</label>
    <datepicker date-format="dd/MM/yyyy">
        <input ng-model="Filter.To" type="text" tabindex="3" class="form-control" />
    </datepicker>

</div>
<div class="col-sm-4">
    <label class="col-sm-12">&nbsp;</label>
    <input type="button" class="btn btn-primary" tabindex="4" value="Search" ng-click="GetBankEntries();" />&nbsp;
    <a href="#bankEntry?type=1" class="btn btn-primary" ng-show="AccessData.Add && TranType == 1">Add Bank Entry</a>
    <!--<input type="button" class="btn btn-primary" tabindex="4" value="Print" ng-click="Print();" />&nbsp;-->



</div>



<div class="form-group">


 
    <!-- <div class="alert alert-success" ng-show="Companies.length==null">

    </div>-->
    <div class="col-lg-12">

        <table class="table table-condensed table-responsive">

            <tr class="headerRow">

                <th style="width: 150px;">Party</th>
                <th style="width: 100px;">Bank</th>
                <th style="width: 100px;">Entry Type</th>
                <th style="width: 100px;">Transacation Date</th>
                <th class="text-center" style="width: 100px;">Amount</th>
                <th style="width: 100px;">Transacation Ref#</th>
                <th style="width: 250px;">Description</th>
                <th style="width:50px;">&nbsp;</th>

            </tr>
            <tr id="tr{{item.LedgerTransactionId}}" ng-repeat="item in Transactions">
                <td>{{item.CrLedgerName}}</td>
                <td>{{item.DrLedgerName}}</td>
                <td>{{item.EntryTypeName}}</td>
                <td>{{item.TransactionDate |date: 'dd-MM-yyyy'}}</td>
                <td style="text-align: right;">{{item.TransactionAmount |number:2 }}</td>
                <td>{{item.TranRefNumber}}</td>
                <td>{{item.Description}}</td>
                <td>
                    <input type="button" class="btn btn-primary" tabindex="4" value="Print" ng-click="Print(item.LedgerTransactionId);" />&nbsp;
                </td>



            </tr>

        </table>

        <script lang="ja">
            $('table a').click(function (e) {
                alert(e);
                e.preventDefault();

            });
        </script>
    </div>
</div>

