<div class="col-sm-12">
    <div class="col-sm-12">
        <div class="col-sm-2 text-center nopadding">
            <label>From</label>
            <datepicker date-format="dd/MM/yyyy">
                <input ng-model="Filter.From" type="text" class="form-control" tabindex="2" />
            </datepicker>
        </div>
        <div class="col-sm-2 text-center">
            <label>To</label>
            <datepicker date-format="dd/MM/yyyy">
                <input ng-model="Filter.To" type="text" class="form-control" tabindex="3" />
            </datepicker>
        </div>
        <div class="col-sm-4">
            <label>&nbsp;</label><br/>
            <input type="button" class="btn btn-primary" tabindex="4" value="Show" ng-click="GetCashBook();" />
            <button class="btn btn-primary" tabindex="4" ng-click="Print();">
                <i class="fa fa-print"></i> Print
            </button>
        </div>


    </div>

    <div class="clearfix"></div>
    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="table table-condensed " med-key>

                <tr class="headerRow">

                    <th style="width: 5%">#</th>
                    <th style="width: 10%;">Code</th>
                    <th style="width: 10%">Name</th>
                    <th style="width: 10%;">Entry Type Name</th>
                    <th style="width: 10%;">Txn Date</th>
                    <th style="width: 10%;">Txn Amount</th>
                    <th style="width: 10%;">Balance</th>
                    <th style="width: 10%;">Txn Type</th>
                    <th style="width: 25%;">Description</th>
                </tr>
                <tr ng-repeat="item in ItemsList">

                    <td>{{$index + 1 }}</td>
                    <td>{{item.Code }}</td>
                    <td>{{item.Name }}</td>
                    <td>{{item.EntryTypeName }}</td>
                    <td>{{item.TransactionDate | date :'dd-MM-yyyy' }}</td>
                    <td>{{item.TransactionAmount | number:2}}</td>
                    <td>{{item.Balance | number:2}}</td>
                    <td>{{item.TransactionTypeName }}</td>
                    <td>{{item.Description }}</td>

                </tr>
                <!--<tr class="total">

            <td colspan="8"></td>
            <td>Total</td>

            <td>{{LastRow.Balance |number:2 }} {{LastRow.TransactionTypeName}}</td>

        </tr>-->
            </table>
        </div>
       

    </div>




    <script lang="ja">

        $('.nav a').click(function (e) {
            e.preventDefault();
        });
    </script>
</div>