<div class="form-group">
    <div class="col-sm-12 hide">
        <div class="panel dashboard-widget1">
            <div class="panel-heading dashboard-widget1-heading">

                <span class="col-sm-10"><i class="fa  fa-credit-card"></i>&nbsp;<b>Daily Item Transactions</b></span>


            </div>
            <div class="panel-body dashboardWidget">
                <div class="collapse row nopadding" id="filterPayment">
                    <div class="col-sm-3">
                        <label class="col-xs-3">Days </label>
                        <div class="col-xs-10">

                            <input type="number" class="form-control" ng-model="Report.DaysLeft" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="col-xs-3">Job# </label>
                        <div class="col-xs-10 ">
                            <searchableselect id="ddlJob" ng-model="Report.JobNumber" data-field="JobNumbers" data-val="JobNumber" data-text="JobNumber"></searchableselect>
                        </div>

                    </div>
                    <div class="col-sm-5">
                        <label class="col-xs-3">Site </label>
                        <div class="col-xs-10">
                            <searchableselect id="ddlSite" ng-model="Report.Site" data-field="Site" data-val="Site" data-text="Site"></searchableselect>
                        </div>

                    </div>
                    <div class="col-sm-1">
                        <label class="col-xs-1">&nbsp;</label>
                        <input type="button" class="btn btn-primary" value="Find" ng-click="RefreshPaymentReminder()" />

                    </div>
                </div>
                <table class="table table-condensed table-responsive">
                    <tr class="">
                        <th style="width: 100px;">Date</th>
                        <th style="width: 50px;">Vch</th>
                        <th style="width: 120px;">Pary</th>
                        <th style="text-align: center; width: 100px;">Item</th>
                        <th style="text-align: center; width: 40px;">Qty</th>
                    </tr>
                    <tr ng-repeat="item in Issued">
                        <td>{{item.StartDate |date: 'dd-MM-yyyy'}}</td>
                        <td>{{item.JobNumber}}
                        </td>
                        <td class="overflow-td">{{item.Client}}
                        </td>
                        <td style="text-align: center;">{{item.Product }}</td>


                        <td style="text-align: center;">{{item.Quantity |number:2 }}</td>

                    </tr>
                </table>
            </div>
            <div class="panel-footer dashboard_panel_footer hide">

                <!--Total :    {{PendingPayments|sumByKey:'Amount'}} -->
            </div>
        </div>
    </div>
    <div class="col-sm-12" ng-show="Bills.length>0">
        <div class="panel dashboard-widget1">
            <div class="panel-heading dashboard-widget1-heading">
                <span class="col-sm-10"><i class="fa  fa-credit-card"></i>&nbsp;<b>Bill Register</b></span>
            </div>
            <div class="panel-body dashboardWidget">
                <div class="collapse row nopadding" id="Div1">
                    <div class="col-sm-3">
                        <label class="col-xs-3">Days </label>
                        <div class="col-xs-10">

                            <input type="number" class="form-control" ng-model="Report.DaysLeft" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="col-xs-3">Job# </label>
                        <div class="col-xs-10 ">
                            <searchableselect id="Searchableselect1" ng-model="Report.JobNumber" data-field="JobNumbers" data-val="JobNumber" data-text="JobNumber"></searchableselect>
                        </div>

                    </div>
                    <div class="col-sm-5">
                        <label class="col-xs-3">Site </label>
                        <div class="col-xs-10">
                            <searchableselect id="Searchableselect2" ng-model="Report.Site" data-field="Site" data-val="Site" data-text="Site"></searchableselect>
                        </div>

                    </div>
                    <div class="col-sm-1">
                        <label class="col-xs-1">&nbsp;</label>
                        <input type="button" class="btn btn-primary" value="Find" ng-click="RefreshPaymentReminder()" />

                    </div>
                </div>
                <table class="table table-condensed table-responsive">
                    <tr class="">
                        <th style="width: 50px;">Bill#</th>
                        <th style="width: 250px;">Client</th>
                        <th style="width: 100px;">Date</th>
                        <!-- <th style="text-align: right; width: 100px;">Amount</th>
                <th style="text-align: right; width: 100px;">Tax</th>-->
                        <th style="text-align: right; width: 100px;">Net Amount</th>
                        <!--  <th style="text-align: right; width: 100px;">Actions</th>-->

                    </tr>
                    <tr ng-repeat="item in Bills">
                        <td><span ng-click="ShowBillingItems($index);">{{item.InvoiceNumber}}</span>
                        </td>
                        <td>{{item.Client}}
                        </td>
                        <td>{{item.InvoiceDate |date: 'dd-MM-yyyy'}}</td>
                        <!--    <td style="text-align: right;">{{item.SubTotal |number:2 }}</td>
                <td style="text-align: right;">{{item.TaxAmount |number:2 }}</td>-->
                        <td style="text-align: right;">{{item.Total |number:2 }}</td>
                        <!-- <th style="text-align: right; width: 100px;">
                    <span class="fa fa-print text-primary" title="Print bill" ng-click="PrintBill($index);"></span>
                </th>-->
                    </tr>
                </table>
            </div>
            <div class="panel-footer dashboard_panel_footer hide">

                <!--Total :    {{PendingPayments|sumByKey:'Amount'}} -->
            </div>
        </div>
    </div>
</div>


<div class="form-group">
    <div class="col-sm-12">
        <div class="panel dashboard-widget1">
            <div class="panel-heading dashboard-widget1-heading">

                <span class="col-sm-10"><i class="fa  fa-credit-card"></i>&nbsp;<b>Due Material</b></span>


            </div>
            <div class="panel-body" style="overflow: hidden;">



                <table class="table table-responsive table-fixed" style="max-width: 1800px;">
                    <thead>
                        <tr ng-if="$index==0" ng-repeat="(key, dataSet) in BalanceItems">
                            <th ng-repeat="(key1,dataSet1) in dataSet track by $index" class="col-xs-2">{{key1}} 
                               
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key, dataSet)  in BalanceItems">
                            <td ng-repeat="(key1,dataSet1) in dataSet track by $index" class="col-xs-2">{{dataSet1}} 
                                 <span class="badge label-success" ng-if="$index==0">{{ClosingBalance| filter : {Party:dataSet1} :true | sum: 'ClosingBalance' }}
                                 </span>
                            </td>

                        </tr>
                    </tbody>
                </table>


                <!--  <table class="table table-condensed table-responsive">
                    <tr class="">

                        <th style="width: 40px">#</th>
                        <th>Item</th>
                        <th>Party</th>
                        <th style="width: 80px;">Balance</th>

                    </tr>
                    <tr ng-repeat="item in BalanceItems">
                        <td>{{$index+1}}</td>

                        <td>{{item.Item}} </td>
                        <td>{{item.Client}}</td>
                        <td>{{item.SentQty - item.RecQty}}</td>
                    </tr>
                </table>-->
            </div>
            <div class="panel-footer dashboard_panel_footer hide">

                <!--Total :    {{PendingPayments|sumByKey:'Amount'}} -->
            </div>
        </div>
    </div>

</div>
