<form id="frmewaybill_addvehhicle" method="post" class="form-horizontal form-bordered">
   

    <div class="col-sm-12 mt-1">



        <div class="form-group">
            <span for="inputEmail3" class="col-sm-4">Transporter</span>
            <div class="col-sm-8">


                <select class="form-control" ng-model="EwayBill.TransporterGST" name="val_transporter">
                    <option ng-value="0">--Select--</option>
                    <option ng-value="d.GST" ng-repeat="d in Transporters">{{d.Name}}</option>
                </select>


            </div>
        </div>
    </div>
    
     
   
</form>