<style>
    .widget-simple {
        padding: 0px;
    }

    .widget {
        padding: 0px;
        margin: 0px;
    }

    #page-content {
        padding: 0px;
    }

    .content-header {
        display: none;
    }

    footer {
        display: none;
    }
</style>

<div class="wrapper col-lg-5 col-md-5 col-sm-6 col-xs-12 login-left hidden-xs">
    <div class="login-brand">
        <a href="http://rentac.ind.in">  <img src="../img/brand-logo.png" style="width: 170px;"></a>
    </div>


    <div class="center-col">
        <div class="login-form">
            <h2>

                Complete renting Solution
            </h2>

        </div>
    </div>
</div>
<div class="wrapper col-lg-7 col-md-7 col-sm-6 col-xs-12 login-right">
    <div class="center-col">
        <div id="" class="login-form box-shadow">

            <h2 style="width:60%;">
                Reset Password
            </h2>

            <div class="form-container" style="padding: 30px;" ng-show="emailSent==false">
                <form id="frmForgotPwd" name="frmForgotPwd">
                    <div>
                        <div class="form-group">

                            <label>Enter your registered email address</label>
                            <input type="text" name="val_email" class="form-control" autofocus tabindex="1"
                                   placeholder="Email address" data-ng-model="email" required autofocus>
                        </div>
                        <div class="form-group text-right">
                            <button class="btn btn-primary btn-md" tabindex="4" ng-click="sendVerificationLink()">Send Verification Link</button>
                        </div>
                    </div>
                </form>

            </div>
            <div class="form-container" style="padding: 30px;" ng-if="emailSent==true">
                <label class="text-center">Password reset email has been sent to your email. Please follow the instructions given in the email to reset your password.</label>
            </div>
            <div class="form-group text-center">
                <hr />
                <a class="mt-2" ng-href="#login">Login Now</a>
            </div>
        </div>
        </div>
</div>

