<!--  <pageheader heading="Bill register" />-->
<div class="col-sm-3">
    <label>Choose Party</label>

    <!--<searchabletext ng-id="client" tab-index="1" data-item="Client" data-all="true" selected-object="ClientSelect" name="client_value" field-required="true"> </searchabletext>-->
    <!--<searchabletext ng-id="client_value" local-data="Accounts" title-field="Name" name="Name" search-fields="Name,Code"
                    selected-object="selectedParty" data-entry="1" tab-index="8" initial-value="initialValue"> </searchabletext>-->

    <searchableselect name="client_value" tabindex="2" data-field="Accounts" data-primarytext="TradeName" ng-model="Filter.LedgerId" data-val="LedgerId" data-text="Name" description-field="Code"></searchableselect>

</div>
<div class="col-sm-3">
    <label>Site</label>
    <searchableselect id="Searchableselect1" ng-model="Filter.LedgerSiteId" data-field="LedgerSites" tab-index="1" data-val="LedgerSiteId"
                      data-text="SiteAddress"></searchableselect>

</div>

<div class="col-sm-1">

    <label>From</label>

    <datepicker date-format="dd/MM/yyyy">
        <input ng-model="Filter.From" type="text" tabindex="2" class="form-control" />
    </datepicker>
</div>
<div class="col-sm-1">

    <label>To</label>
    <datepicker date-format="dd/MM/yyyy">
        <input ng-model="Filter.To" type="text" tabindex="3" class="form-control" />
    </datepicker>

</div>
<div class="col-sm-4">
    <label class="col-sm-12">&nbsp;</label>
    <input type="button" class="btn btn-primary" tabindex="4" value="Search Transactions" ng-click="GetTransactions();" />&nbsp;
    <a href="#journalentry" ng-if="EntryType==24" class="btn btn-primary">Add</a>
    <a href="#contraentry" ng-if="EntryType==25" class="btn btn-primary">Add</a>



</div>


<div class="form-group">

    <div class="clearfix"></div>

    <!-- <div class="alert alert-success" ng-show="Companies.length==null">

    </div>-->
    <div class="col-lg-12">
        <div class="table-responsive" style="margin-top:7px;">
            <table class="table table-condensed ">

                <tr class="headerRow">
                    <th style="width: 30px;" class="text-center">S.No</th>
                    <th style="width: 00px;" sort-header="data" sort-field="ReceiptNumber">Voucher#</th>
                    <th style="width: 250px;"  sort-header="data" sort-field="LedgerName">Party</th>
                    <th style="width: 100px;"  sort-header="data" sort-field="TranRefNumber">Ref/Bill#</th>
                    <th style="width: 100px;" class="text-center"  sort-header="data" sort-field="TransactionDate">Date</th>
                    <th class="text-right" style="width: 80px;"  sort-header="data" sort-field="TransactionAmount">Amount</th>
                    <th style="width: 150px;">Narration</th>
                    <th style="width:50px;">&nbsp;</th>


                </tr>
                <tr id="tr{{item.LedgerTransactionId}}" ng-repeat="item in data">
                    <td class="text-center">{{$index+1}}</td>
                    <td>
                        {{item.ReceiptNumber}}
                    </td>
                    <td>
                        {{item.LedgerName}} <i><b>To</b></i> {{item.RefLedgerName}}
                    </td>
                    <td>

                        {{item.TranRefNumber}}
                    </td>
                    <td class="text-center">{{item.TransactionDate | formatDate}}</td>
                    <td style="text-align: right;">{{item.TransactionAmount |number:2 }}</td>
                    <td>
                        {{item.Narration}}
                    </td>
                    <td class="text-center">
                        <div class="btn-group">
                            <i class="fa fa-cog fa-2x text-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></i>
                            <!--<button class="btn btn-sm btn-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Options</button>-->
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="javascript:void()" title="Edit" ng-click="edit(item.LedgerTransactionId)"><i class="fa fa-edit fa-2x"></i>Edit</a>

                                </li>
                                <li>
                                    <a href="javascript:void()" title="Download Pdf" ng-click="printNote(item.LedgerTransactionId)"><i class="fa fa-print fa-2x"></i>Print</a>

                                </li>
                            </ul>
                        </div>
                        <!--<input type="button" class="btn btn-primary" tabindex="4" value="Print" ng-click="Print(item.LedgerTransactionId);" />&nbsp;-->
                    </td>


                </tr>

            </table>
        </div>
        <script lang="ja">
            $('table a').click(function (e) {

                e.preventDefault();

            });
        </script>
    </div>
</div>

