<style>
    .widget-simple {
        padding: 0px;
    }

    .widget {
        padding: 0px;
        margin: 0px;
    }

    #page-content {
        padding: 0px;
    }

    .content-header {
        display: none;
    }

    footer {
        display: none;
    }
</style>

<div class="wrapper col-lg-5 col-md-5 col-sm-6 col-xs-12 login-left hidden-xs">
    <div class="login-brand">
        <a href="http://rentac.ind.in">  <img src="../img/brand-logo.png" style="width: 170px;"></a>
    </div>


    <div class="center-col">
        <div class="login-form">
            <h2>

                Complete renting Solution
            </h2>

        </div>
    </div>
</div>
<div class="wrapper col-lg-7 col-md-7 col-sm-6 col-xs-12 login-right">
    <div class="center-col">
        <div id="" class="login-form box-shadow">
            <h2>Login</h2>

            <div class="form-container" style="padding: 30px;padding-bottom:50px;">
                <form id="form-login">
                    <div class="form-group">

                        <label><b>Login Name</b></label>

                        <input type="text" name="loginName" class="form-control" autofocus tabindex="1" placeholder="Login Name" data-ng-model="loginData.userName" required autofocus>
                    </div>
                    <div class="form-group">
                        <label><b>Password</b></label>
                        <!--<a href="forgot.html" class="pull-right hide">Forgot Password?</a>-->
                        <input type="password" name="password" class="form-control" tabindex="2" placeholder="Password" data-ng-model="loginData.password" required>
                    </div>
                    <!--<div class="form-group">
                        <label><b>Fin Year</b></label>
                        <searchableselect id="finYear" name="finYear" tabindex="3" ng-model="loginData.finYear" data-field="FinYearList" data-val="FinYearId" data-text="FinYear" required></searchableselect>

                    </div>-->
                    <div data-ng-hide="message == ''" class="text-danger">
                        {{message}}
                    </div>

                </form>
                <div class="form-group text-right">
                    <button class="btn btn-primary btn-md" ng-disabled="FinYearList? null: true" type="submit" tabindex="4" data-ng-click="login()" value="Login">Login</button>
                </div>
                <hr />
                <div class="col-sm-12 text-center" >




                    <label class="col-sm-12">

                        <a ui-sref="forgotpwd">Forgot Password?</a>
                    </label>
                    <!--<label class="col-sm-12">

                        New to Rentac? <a href="#signup">Register now</a>
                    </label>-->

                </div>
            </div>


        </div>
    </div>
</div>

