<div class="container">
    <div class="col-md-12">


        <div class="row">
            <div class="page-header">
                <h1>Purchase Package</h1>
                <p>
                    Select the package which fits for your company and click on purchase button.
                </p>
            </div>
            <div class="row">
                <!--<div class="col-md-4">
        <div class="solutions__screen wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.25s">
            <div class="s-primary-content price-table ">
                <h3>Gold</h3>
                <h1 style="background: #24a965"><sup>₹</sup>700 / month</h1>

                <hr>

                <ul>
                    <li><i class="fa fa-check"></i>1 Organization</li>
                    <li><i class="fa fa-check"></i>300 Challans</li>
                    <li><i class="fa fa-check"></i>Web App</li>

                </ul>

                <hr>
                <p class="text-center">
                    <button role="button" class="btn btn-primary" ng-click="makePayment(700,1)">Purchase</button>
                </p>
            </div>

        </div>
    </div>-->
                <!--<div class="col-md-4">
        <div class="solutions__screen wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.25s">
            <div class="s-primary-content price-table">
                <h3>Diamond</h3>
                <h1><sup>₹</sup>1200 / month</h1>

                <hr>

                <ul>
                    <li><i class="fa fa-check"></i>1 Organization</li>
                    <li><i class="fa fa-check"></i>800 Challans</li>
                    <li><i class="fa fa-check"></i>Web App</li>

                </ul>

                <hr>
                <p class="text-center">
                    <button role="button" class="btn btn-primary"  ng-click="makePayment(1200,2)">Purchase</button>
                </p>
            </div>

        </div>
    </div>-->
              
                <div class="col-md-3">
                    <div class="solutions__screen wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.25s">
                        <div class="s-primary-content price-table">
                            <h3>Yearly</h3>
                            <h1 style="background: #fa864a;"><sup>₹</sup>17,500 / year</h1>
                            <!-- <h2 class="text-primary">As Per Usages </h2> -->
                            <hr>

                            <ul>
                                <li><i class="fa fa-check"></i>Upto 2 Locations</li>
                                <li><i class="fa fa-check"></i>2 Users</li>
                                <li><i class="fa fa-check"></i>Unlimited Challans</li>
                                <li><i class="fa fa-check"></i>Back-Office Web App</li>
                                <li><i class="fa fa-check"></i>Back-Office Mobile App</li>
                                <li><i class="fa fa-check"></i>Party Web App</li>
                                <li><i class="fa fa-check"></i>Party Mobile App</li>

                            </ul>  <hr>

                            <p class="text-center">
                                <button role="button" class="btn btn-primary" ng-click="makePayment(17500,3,'yearly')">Purchase</button>
                            </p>
                        </div>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="solutions__screen wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.25s">
                        <div class="s-primary-content price-table">
                            <h3>Yearly</h3>
                            <h1 style="background: #fa864a;"><sup>₹</sup>34,000 / year</h1>
                            <!-- <h2 class="text-primary">As Per Usages </h2> -->
                            <hr>

                            <ul>
                                <li><i class="fa fa-check"></i>Upto 5 Locations</li>
                                <li><i class="fa fa-check"></i>5 Users</li>
                                <li><i class="fa fa-check"></i>Unlimited Challans</li>
                                <li><i class="fa fa-check"></i>Back-Office Web App</li>
                                <li><i class="fa fa-check"></i>Back-Office Mobile App</li>
                                <li><i class="fa fa-check"></i>Party Web App</li>
                                <li><i class="fa fa-check"></i>Party Mobile App</li>

                            </ul>  <hr>

                            <p class="text-center">
                                <button role="button" class="btn btn-primary" ng-click="makePayment(34000,1,'yearly')">Purchase</button>
                            </p>
                        </div>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="solutions__screen wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.25s">
                        <div class="s-primary-content price-table">
                            <h3>&nbsp;</h3>
                            <h1 style="background: #fa864a;">Customized</h1>
                            <!-- <h2 class="text-primary">As Per Usages </h2> -->
                            <hr>

                            <ul>
                                <li><i class="fa fa-check"></i>Unlimited Locations</li>
                                <li><i class="fa fa-check"></i>Unlimited Challans</li>
                                <li><i class="fa fa-check"></i>Back-Office Web App</li>
                                <li><i class="fa fa-check"></i>Back-Office Mobile App</li>
                                <li><i class="fa fa-check"></i>Party Web App</li>
                                <li><i class="fa fa-check"></i>Party Mobile App</li>

                            </ul>  <hr>

                            <p class="text-center">
                                <button role="button" class="btn btn-primary"  >Talk To Sales</button>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    li {
        list-style: none;
    }

    .s-primary-content {
        background-color: rgb(187 180 239);
        border-radius: 4px;
        -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    }

    .price-table {
        padding: 20px;
    }

        .price-table h2 {
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            background: #607393;
            color: white;
            padding: 15px 0px;
        }

        .price-table hr {
            border-color: #fff;
        }

        .price-table ul li {
            margin-bottom: 10px;
        }

            .price-table ul li .fa {
                margin-right: 10px;
            }

        .price-table h1 {
            font-size: 24px;
            font-weight: bold;
            /* color: black; */
            margin: 15px 0px;
            text-align: center;
            background: #734afa;
            border-radius: 100px;
            padding: 3px;
            color: white;
        }

        .price-table h3 {
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            color: black;
        }

        .price-table h1 sup {
            font-size: 20px;
            top: -5px !important;
        }
</style>
