<div class="form-group">
     
  <!--     <pageheader heading="Add/Edit Category" />-->
    <form id="form-salt" method="post" class="form-horizontal form-bordered">
        <!-- Form Horizontal Start -->
        <div class="col-sm-12">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Category</label>
                                <input type="text" id="val_category" autofocus="autofocus" name="val_category" ng-model="Category.Props.Name" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="col-lg-6 col-md-4 col-sm-4">
                        <input type="button" class="btn btn-primary" value="Save" ng-click="Save();" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
