<md-dialog>
  
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add/Edit User</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon   aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
            <div class="col-sm-12">
                <table class="table table-condensed table-responsive no-border">
                    
                   
                    <tr>
                        <td class="headingCol">New Password</td>
                        <td colspan="3"><input type="password" class="form-control"   tabindex="5"  ng-model="User.Password"/></td>
                    </tr>
                    <tr>
                        <td style="width:20%;" class="headingCol">Confirm Password</td>
                      
                        <td  ><input type="password" class="form-control" tabindex="6" /></td>
                    </tr>
                    
                  
                </table>
            </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
       
      <span flex></span>
      <md-button ng-click="closeMe()">
       Cancel
      </md-button>
      <md-button ng-click="Save()">
        Save
      </md-button>
    </md-dialog-actions>
   
</md-dialog>
