<style>
    .widget-simple {
        padding: 0px;
    }

    .widget {
        padding: 0px;
        margin: 0px;
    }

    #page-content {
        padding: 0px;
    }

    .content-header {
        display: none;
    }

    footer {
        display: none;
    }
</style>

<div class="wrapper col-lg-5 col-md-5 col-sm-6 col-xs-12 login-left hidden-xs">
    <div class="login-brand">
        <a href="http://rentac.ind.in">  <img src="../img/brand-logo.png" style="width: 170px;"></a>
    </div>


    <div class="center-col">
        <div class="login-form">
            <h2>

                Complete renting Solution
            </h2>

        </div>
    </div>
</div>
<div class="wrapper col-lg-7 col-md-7 col-sm-6 col-xs-12 login-right">
    <div class="center-col">
        <div id="" class="login-form box-shadow">

            <h2 style="width:60%;">
                Validate OTP
            </h2>

            <div class="form-container" style="padding: 30px;">
                <form id="form-signup">
                    <div class="form-group text-center">

                        <label>Enter 4 digit OTP.</label>

                        <div style=" width: 60%; margin: auto;">


                            <div class="row">
                                <div class="col-md-3"><input type="text" name="val_name" class="form-control" autofocus tabindex="1" data-ng-model="signUpData.name" required autofocus></div>
                                <div class="col-md-3"><input type="text" name="val_name" class="form-control" autofocus tabindex="1" data-ng-model="signUpData.name" required autofocus></div>
                                <div class="col-md-3"><input type="text" name="val_name" class="form-control" autofocus tabindex="1" data-ng-model="signUpData.name" required autofocus></div>
                                <div class="col-md-3"><input type="text" name="val_name" class="form-control" autofocus tabindex="1" data-ng-model="signUpData.name" required autofocus></div>
                            </div>
                            <div class="row" style="margin-top:20px">
                                <button class="btn btn-primary btn-md" type="submit" tabindex="4" data-ng-click="register()" value="SignUp">Verify</button>
                            </div>


                        </div>
                    </div>
                    <div class="form-group text-right">

                    </div>
                </form>
                <div class="form-group text-center">

                    <hr />
                    <a class="mt-2" ng-href="#login">Login Now</a>
                </div>
            </div>


        </div>
    </div>
</div>

