<style>

    .pos-container {
        border-top: solid 1px #afafaf;
    }

        .pos-container .tabcontainer {
        }

        .pos-container .tab {
            border-right: solid 1px #afafaf;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 10px;
            padding-right: 10px;
            text-align: center;
        }

    .text-default {
        color: #000000;
    }

    .pos-tabcontent {
        height: calc(100vh - 204px);
    }

    .posfindItem {
        font-size: 16px;
        padding: 16px;
    }

    .totaltable th, td {
        padding: 5px;
    }

    .grid-wrapper {
        flex: 1 1 0px;
        width: 100%;
    }

    #myGrid {
        height: 100%;
    }
</style>

<div class="col-sm-12">
    <div class="row pos-container" ng-controller="POSBillignContainerController as container">
        <div class="col-sm-10">
            <div class="row tabcontainer">
                <div class="col-sm-2 tab" ng-repeat="c in container.Tabs">
                    <div class="d-flex">
                        <span class="text-default flex-90">

                            <a href="javascript:void()" ng-click="container.activeTab = $index"> {{c.name }} {{$index+1}}</a>
                        </span>
                        <span class="flex-10">
                            <a href="javascript:void()" ng-click="container.delBilling($index)"><i class="fa fa-close fa-2x text-default"></i></a>
                        </span>
                    </div>


                </div>
                <div class="col-sm-3 tab" ng-if="container.Tabs.length < 5">
                    <a href="javascript:void()" class="text-success" ng-click="container.newBilling()">
                        <i class="fa fa-plus-circle fa-2x text-success"></i> Hold And Add New Billing
                    </a>
                </div>
            </div>
        </div>


        <div class="row" ng-class="container.activeTab != $index ? 'hide': ''" ng-repeat="ct in container.Tabs">
            <div class="col-sm-12">
                <div class="row" ng-controller="POSBillignController as billVM">
                    <div class="col-sm-9 border pos-tabcontent" style="padding-top:10px;" >
                        <!--<div class="col-sm-12 p-0">

                        <pos-autocomplete items="billVM.Items"
                                          display-property="Name"
                                          show-scan-button="true"
                                          on-select="billVM.onItemSelected(item)">
                        </pos-autocomplete>
                    </div>-->
                        <div id="_{{billVM.gridId}}" style="height:400px;width:100%;"></div>


                        <div class="modal fade" id="{{billVM.itemsPopUpId}}" tabindex="-1" role="dialog"
                             aria-labelledby="modalLabel" aria-hidden="true">
                            <div class="modal-dialog" style="width:46%;" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title" id="modalLabel">Bill Options</h4>
                                    </div>
                                    <div class="modal-body" style="overflow-y: auto; height: 85%; max-height: 500px; overflow-y: hidden;">

                                        <keyboard-table table-data="billVM.Items"
                                                        table-config="billVM.productConfig"
                                                        on-row-select="billVM.onItemSelected(item)">
                                        </keyboard-table>

                                    </div>
                                    <div class="modal-footer">
                                        <button id="btnCancelProfileDialog" type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 border pos-tabcontent">
                        <div style="display: flex; flex-direction: column;height:99%;">

                            <table style="width:100%" class="totaltable">
                                <tr>
                                    <td colspan="2">
                                        <h4><strong>Bill Details</strong></h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td> Sub Total</td>
                                    <td class="text-right">{{billVM.SubTotal}}</td>
                                </tr>
                                <tr>
                                    <td> Tax</td>
                                    <td class="text-right">90.00</td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4><strong>Total Amount</strong></h4>

                                    </td>
                                    <td class="text-right " style="vertical-align:bottom">
                                        <h4>590.00</h4>
                                    </td>
                                </tr>
                            </table>
                            <table style="width:100%" class="totaltable">
                                <tr>
                                    <td colspan="2">
                                        <h4><strong>Bill Details</strong></h4>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <input class="form-control" />
                                    </td>
                                    <td>
                                        <select class="form-control">
                                        </select>
                                    </td>
                                </tr>
                            </table>
                            <table style="width:100%" class="totaltable">
                                <tr>
                                    <td colspan="2">
                                        <h4><strong>Bill Details</strong></h4>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        Cash Sale
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            </table>


                            <div class="row" style=" margin-top: auto;">
                                <div class="col-sm-6">
                                    <button class="btn btn-success" style="width:100%">Save and Print</button>
                                </div>
                                <div class="col-sm-6">
                                    <button class="btn btn-primary" style="width:100%">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

