<div class="col-sm-12">
    <form class="form-horizontal" id="frmEmailSetup" ng-controller="EmailSettingsController">
        <div class="col-sm-12">
            <div class="callout-heading">
                <h4>Email Setup</h4>
                <p>
                    Setup your own email providers. Once you setup your own email provider and provide a valid from email address.
                    All emails will be sent from your email address.

                </p>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="form-group">
                <label class="control-label col-sm-4">SMTP Server</label>
                <div class="col-sm-8">
                    <input type="text" name="smtp_server" ng-model="Setup.Server" maxlength="50" class="form-control" />
                    <span class="text-info">An SMTP server is a mail server that can send and receive emails</span>
                </div>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="form-group">
                <label class="control-label col-sm-4">Port</label>
                <div class="col-sm-8">
                    <input type="text" name="smtp_port" ng-model="Setup.Port" maxlength="5" class="form-control maskednumber" nodecimal />
                    <span class="text-info">SMTP server Port</span>
                </div>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="form-group">
                <label class="control-label col-sm-4">User Name</label>
                <div class="col-sm-8">
                    <input type="text" autocomplete="off" name="smtp_username" ng-model="Setup.UserName" maxlength="50" class="form-control" />
                    <span class="text-info">Username to authenticate SMTP Server</span>
                </div>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="form-group">
                <label class="control-label col-sm-4">Password</label>
                <div class="col-sm-8">
                    <input type="password" autocomplete="off" name="smtp_password" ng-model="Setup.Password" maxlength="50" class="form-control" />
                    <span class="text-info">Password of the SMTP server</span>
                </div>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="form-group">
                <label class="control-label col-sm-4">From Email Address</label>
                <div class="col-sm-8">
                    <input type="text" name="fromEmailAddress" ng-model="Setup.FromEmail" maxlength="50" class="form-control" />
                    <span class="text-info">This must be a valid email address.</span>
                </div>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="form-group">

                <div class="col-sm-offset-4 col-sm-8">
                    <button class="btn btn-primary" ng-click="save()">Save</button>


                </div>
            </div>
        </div>
    </form>
</div>
