
<div style="margin:15px" class="tblPrint">
    <style>
        .tblPrint {
            th

        {
            font-size: 10px;
            padding: 2px;
            background-color: gainsboro;
            border-top: solid 1px black;
            border-bottom: solid 1px;
            border-right: solid 1px;
        }

        th:first-of-type {
            border-left: solid 1px black;
        }

        td {
            font-size: 10px;
            padding: 2px;
            border-right: solid 1px black;
            border-bottom: solid 1px black;
        }

            td:first-of-type {
                border-left: solid 1px black;
            }
        }
    </style>
    <h3>Sent Items</h3>
    <table style="width: 100%; border-collapse:collapse;" role="rowgroup" cellspacing="0">
        <tr>
            <th style="width: 137px;">Date</th>
            <th style="width: 50px;">Vch</th>
            <th style="width: 120px;">Pary</th>
            <th style="text-align: right; width: 100px;">Item</th>
            <th style="text-align: right; width: 100px;">Qty</th>


        </tr>
        <tr ng-repeat="item in data">
            <td>{{item.StartDate |date: 'dd-MM-yyyy'}}</td>
            <td>
                {{item.JobNumber}}
            </td>
            <td class="overflow-td">
                {{item.Client}}
            </td>
            <td style="text-align: right;">{{item.Product }}</td>


            <td style="text-align: right;">{{item.Quantity |number:2 }}</td>

        </tr>

    </table>
    <h3>Received Items</h3>
    <table style="width: 100%; border-collapse:collapse;" role="rowgroup" cellspacing="0">
        <tr>
            <th style="width: 137px;">Date</th>
            <th style="width: 50px;">Vch</th>
            <th style="width: 120px;">Pary</th>
            <th style="text-align: right; width: 100px;">Item</th>
            <th style="text-align: right; width: 100px;">R.Qty</th>
            <th style="text-align: right; width: 100px;">Br.Qty</th>
            <th style="text-align: right; width: 100px;">Total</th>


        </tr>
        <tr ng-repeat="item in data2">
            <td style="width: 80px;">{{item.StartDate |date: 'dd-MM-yyyy'}}</td>
            <td>
                {{item.JobNumber}}
            </td>
            <td class="overflow-td">
                {{item.Client}}
            </td>
            <td style="text-align: right;">{{item.Product }}</td>


            <td style="text-align: right;">{{item.Quantity |number:2 }}</td>
            <td style="text-align: right;">{{item.Breakage |number:2 }}</td>
            <td style="text-align: right;">{{item.Quantity + item.Breakage |number:2 }}</td>

        </tr>
</div>