<md-dialog style="width:50%;">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{Category.TaxCategoryId > 0 ? 'Edit Tax Category' : 'Add Tax Category'}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeDialog()">
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout="row"   layout-margin  >
        <form id="form-tax-category" method="post" class="form-horizontal form-bordered">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="col-sm-12 col-xs-12">
                        <label>Tax Name *</label>
                        <input type="text" class="form-control" name="taxName" ng-model="Category.TaxName" maxlength="50" required />
                    </div>
                    <div class="col-sm-12 col-xs-12">
                        <label>Taxes</label>
                        <input type="text"
                               ej-multiselect-checkbox
                               options="availableTaxes"
                               fields="fields"
                               selected-options="selectedTaxes"
                               placeholder="Choose Taxes" />
                    </div>
                </div>
            </div>
        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <div class="pull-right">
            <button ng-click="closeDialog()" class="btn btn-danger" value="Close">Close</button>
            <span flex></span>
            <button ng-click="OkButtonClick()" class="btn btn-primary" value="Save">Save</button>
        </div>
    </md-dialog-actions>
</md-dialog>
