<md-dialog aria-label="List dialog">
        <md-toolbar>
      <div class="md-toolbar-tools">
        <h2> Received Items</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
           
        </md-button>
      </div>
    </md-toolbar>
  <md-dialog-content>
 
    <div class="clearfix">&nbsp;</div>
    <div class="col-sm-12">
        <!-- <div class="panel panel-primary">
            <div class="panel-heading">
           
             </div>
          -->
         <table class="table table-condensed table-responsive">
             <tr class="headerRow">

                 <th>#</th>
                 <th>Item</th>
                 
                 <th class="text-right">Quantity</th>

             </tr>
              <tr ng-repeat="site in DialogData">
                <td>{{$index+1}}</td>
                <td >{{site.Item}}</td>
                  <td class="text-right">{{site.Quantity}}</td>
            </tr>
             <tr class="totalRow">
                 
                 <td colspan="2">Total:</td>
                 <td class="text-right">{{DialogData | sum:'Quantity'| number:2}}</td>
             </tr>
        </table>
                <md-progress-circular id="loadersite" md-mode="indeterminate" style="margin:auto;" ng-if="!DialogData"></md-progress-circular>
                <!--</div>-->
       </div>
     
 
      </md-dialog-content>
      <md-dialog-actions>
          <div class="col-sm-2">
       <input type="button" ng-click="closeDialog()" class="btn btn-danger" value="Close" />
         </div>
  </md-dialog-actions>

</md-dialog>
