<md-dialog aria-label="List dialog">
  <md-dialog-content>
<div >
    <div class="clearfix">&nbsp;</div>
    <div class="col-sm-5">
         <div class="panel panel-primary">
            <div class="panel-heading">
            Billed Items
             </div>
          
          
                <md-progress-circular id="loadersite" md-mode="indeterminate" style="margin:auto;"></md-progress-circular>
                </div>
       </div>
    <hr />
</div>
      </md-dialog-content>
      <md-dialog-actions>
          <div class="col-sm-2">
     <input type="button" ng-click="closeDialog()" class="btn btn-primary" value="Print" />&nbsp;</div> <div class="col-sm-2">
    <input type="button" ng-click="closeDialog()" class="btn btn-danger" value="Close" />
         </div>
  </md-dialog-actions>

</md-dialog>
