<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-FarmaAPI-20160427235050;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-FarmaAPI-20160427235050.mdf" providerName="System.Data.SqlClient" />
    <add name="sqlCon" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=rentacv6;User ID=sa;Password=password_1234;Encrypt=false" providerName="System.Data.SqlClient" />
    <!--<add name="sqlCon" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Rentacv6;User ID=sa;Password=password_1234;Encrypt=false" providerName="System.Data.SqlClient" />-->
    <add name="Rentacv6ConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Rentacv6;User ID=sa;Password=password_1234;Trust Server Certificate=True" providerName="System.Data.SqlClient" />
    <add name="Rentacv6ConnectionString1" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Rentacv6;User ID=sa;Password=password_1234;Trust Server Certificate=True" providerName="System.Data.SqlClient" />
    <add name="Rentacv6ConnectionString2" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Rentacv6;User ID=sa;Password=password_1234;Encrypt=False" providerName="System.Data.SqlClient" />
    <add name="Rentacv6ConnectionString3" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Rentacv6;User ID=sa;Password=password_1234;Encrypt=False" providerName="System.Data.SqlClient" />
    <add name="logsCon" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=RentacLogs;User ID=sa;Password=password_1234;Encrypt=false" providerName="System.Data.SqlClient" />
    <add name="Rentacv6ConnectionString4" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Rentacv6;User ID=sa;Password=password_1234;Encrypt=False" providerName="System.Data.SqlClient" />
    <add name="Rentacv6ConnectionString5" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Rentacv6;User ID=sa;Password=password_1234;Trust Server Certificate=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--<add key="userId" value="developer.rbn@gmail.com" />
    <add key="password" value="ourgonfsubpgluvs" />
    <add key="mailServer" value="smtp.gmail.com" />
    <add key="fromEmailID" value="developer.rbn@gmail.com" />-->
    <add key="userId" value="emailer@rbntechnologies.com" />
    <add key="password" value="hSv1Ju2F1WJhG951" />
    <add key="mailServer" value="smtp.mailer91.com" />
    <add key="fromEmailID" value="noreply@rbntechnologies.com" />

    <!--<add key="userId" value="customerservice@risk-surv.com" ></add>
    <add key="password" value="Help4@ll"/>
    <add key="mailServer" value="smtp.mail.yahoo.com"/>
    <add key="fromEmailID" value="customerservice@risk-surv.com"/>-->
    <add key="authenticate" value="true" />
    <add key="UsesmtpSSL" value="true" />
    <add key="AllowSendMails" value="true" />
    <add key="RazorPayKeyId" value="rzp_test_8qDUCKTbcpicCN" />
    <add key="RazorPayKeySecret" value="9gzaDxIqrgtF3xNScIByl3ir" />
    <add key="RazorPayOrderUrl" value="https://api.razorpay.com/v1/orders" />
    <add key="msg91AuthKey" value="436017AmKhB5MvqU6753eec5P1" />

    <add key="masterGSTEmail" value="yogesh@rbntechnologies.com" />
    <!--<add key="masterGST_GST_ClientId" value="GSTSa1e91718-f356-4d3e-b5a2-4f7c2ff30e1d" />
    <add key="masterGST_GST_Secret" value="GSTS40c90ffe-9d95-4247-88a5-93a232f84348" />
    <add key="masterGST_GST_baseUrl" value="https://apisandbox.whitebooks.in" />-->

    <add key="masterGST_GST_ClientId" value="GSTPc68e53dc-37ea-482e-94a0-8b77787b54a1" />
    <add key="masterGST_GST_Secret" value="GSTPa23382e0-97c1-4758-bba4-ea697c939eda" />
    <add key="masterGST_GST_baseUrl" value="https://api.whitebooks.in" />
    
    
    <add key="ipAddress" value="203.110.84.194" />

    <add key="masterGST_IRP_ClientId" value="EINSf22ccc3e-70f5-4fe2-91f4-697532c8bf2b" />
    <add key="masterGST_IRP_Secret" value="EINS6c6becd0-77aa-41fe-8ad3-77ee9a534a30" />
    <add key="masterGST_IRP_baseUrl" value="https://apisandbox.whitebooks.in" />

    <add key="masterGST_Eway_ClientId" value="EWBSfe960f04-c7b7-45f3-856f-407be9662e9f" />
    <add key="masterGST_Eway_Secret" value="EWBS02126173-5886-45f9-8083-671b8e368ff8" />

    <add key="masterGST_IRP_baseUrl" value="https://apisandbox.whitebooks.in" />

    <add key="eInvoiceGSTIN" value="29AAGCB1286Q000" />
    <add key="Environment" value="dev" />

    <add key="AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=rentacstorage;AccountKey=MDFdTjRFioVxUfdTW3HCK5RdeOJuiHZbecYOzecijqpy4P3EpqlNO4IblUtXiUZgQmD5CaL+Uvxw+AStJJXQ+g==;EndpointSuffix=core.windows.net" />
    <add key="AzStorageContainer" value="rentacdev" />
    <add key="ContainerBaseUrl" value="https://rentacstorage.blob.core.windows.net/rentacdev/" />
    <add key="ServiceBusConnection" value="Endpoint=sb://rentacnotifications.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=vzFGeiKXvVxm/He1JLtL8maOdgarWwVmd+ASbP9ZEKM="/>
    <add key="gupShupPartnerBaseUrl" value="https://partner.gupshup.io/partner/" />
    <!-- WhatsApp: Gupshup (default) or DoubleTick; per-message override via NotificationDto.ws_source -->
    <add key="defaultWhatsappProvider" value="Gupshup" />
    <!-- DoubleTick: use doubleTickApiKey or legacy gnsdoubletikckey; from = WhatsApp Business sender number -->
    <add key="doubleTickApiKey" value="" />
    <add key="doubleTickFromNumber" value="" />
    <add key="doubleTickApiUrl" value="https://public.doubletick.io/whatsapp/message/template" />

    <add key="gupShupEmail" value="yogesh@rbntechnologies.com" />
    <add key="gupShupSecret" value="3WbUnVNM8fIEhK-cGSv0a61fam9G6ziOKEzSbhDRTbfcaHp_6ooEdtXBsMv6fQTU" />
    <add key="appCallbackUrl" value="https://webhook.site/7213ab5c-0af1-4099-b4b6-444c2a945d67" />
    <add key="storage" value="azure" />
    <!--JWT Settings-->
    <add key="jwtIssuer" value="pravahdev" />
    <add key="jwtAudience" value="pravahdev" />
    <add key="jwtSecret" value="YourSuperSecureKeyThatIsAtLeast32CharsLong!" />
    <add key="BackupServiceBusConnectionString" value="Endpoint=sb://rentacnotifications.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=vzFGeiKXvVxm/He1JLtL8maOdgarWwVmd+ASbP9ZEKM=" />
    <add key="BackupServiceBusQueueName" value="rentac-backup-queue" />
    <add key="gnsdoubletikckey" value="key_rcjuwERpq1Y4qTP6qJHqBMYQjIiQhBgvqApolJFGaw5MZyDCQvwwlkQhCklUTrEMpF4byUdyZOWRgj7HjN1qM1YsXv0Kzr75Z00saeFciK13kbMY3PFQT8ZDExWBYyg5WUiv4mGFmEab6uqpCvH1NHWaQ3k1zBIszEY91aGRFtHzC3XtPF55MxfioPQCmHfo5eyGe6H9fu8mHEIZFC5CDWlpjBaYGyMQvBZ9LmaoPIY5IKnHQmniEVI15KXH"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <!--<trust legacyCasModel="true" level="Full" />-->

    <customErrors mode="Off" />
    <!--<machineKey validation="SHA1" validationKey="873063F439C4047FF8A9E75A6CEF71DCE6A09C448E80502C8AF724D6AA33A3BD957F482F2BB03F2C89D354D6682F7D75A7F225D16A5B9AC3D8653A75A3AB7934" decryptionKey="E249CFC1A3BFD6136A7133DF553B32C85EE7E507ECB5C81B"/>-->
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
    </compilation>
    <!--<httpRuntime targetFramework="4.8" maxRequestLength="1048576">

    </httpRuntime>-->
    <httpRuntime targetFramework="4.5" maxRequestLength="102400" requestPathInvalidCharacters=""  
                 executionTimeout="3600" requestValidationMode="2.0"/>
    <machineKey validation="SHA1" decryption="AES" validationKey="895841DEA2AAD3ABDB902194FD348D9AB14C57B6" decryptionKey="DC3ADBB9603CC7A017D111AB105C22477542396A7F98A3C84EC97946A244CD7A" />
    <authentication mode="None" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
    <!--<trust level="Full" />-->

  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
    <!--<httpProtocol>
      <customHeaders>
        <remove name="Access-Control-Allow-Origin" />
      <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type, Access-Control-Allow-Headers, Authorization, X-Requested-With" />
        <add name="ccess-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
      </customHeaders>
    </httpProtocol>-->
    <httpProtocol>
      <!--<customHeaders>
        <remove name="Access-Control-Allow-Origin" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Access-Control-Allow-Headers, Authorization, X-Requested-With" />
        <add name="ccess-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
      </customHeaders>-->
    </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
    </handlers>
    <!--<modules>
      <remove name="Session" />
      <add name="Session" type="System.Web.SessionState.SessionStateModule"/>
    </modules>-->
    <modules runAllManagedModulesForAllRequests="true">
      <add name="httpLoggingModule" type="FarmaAPI.HttpMiddlewareModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.3.0" newVersion="4.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.3.0" newVersion="4.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.3.0" newVersion="4.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PdfSharp" publicKeyToken="f94615aa0424f9eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.50.4820.0" newVersion="1.50.4820.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.13.0" newVersion="5.5.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.ProtectedData" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.AccessControl" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.5" newVersion="8.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.1" newVersion="9.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.47.1.0" newVersion="1.47.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory.Data" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ClientModel" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.1.0" newVersion="1.5.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.7.1.0" newVersion="7.7.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.7.1.0" newVersion="7.7.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.2" newVersion="8.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.3" newVersion="8.0.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.7.1.0" newVersion="7.7.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.0.0.0" newVersion="17.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Amqp" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.0.0" newVersion="2.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>

    <NetFx40_LegacySecurityPolicy enabled="false" />
    <gcServer enabled="true" />
    <gcConcurrent enabled="true" />
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>